.tabs {
  border-bottom: 1px solid #EDF2F6;
  margin: 12px 8px;
}

.tabs ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs ul li {
  margin-right: 4px;
}

.tabs ul li a {
  display: block;
  padding: 8px 12px;
  font-size: 16px;
  text-decoration: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: #EDF2F6;
  color: #222;
  transition: all .2s;
}

.tabs ul li a:hover {
  background: #DCE5EF;
}

.tabs ul li a.active {
  background: #e8de12;
  color: #222;
  font-weight: 700;
}

.tabs ul li a.active:hover {
  background: #D0C710;
}

.ctrl
{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-left: 6px;
    background: rgba(237,242,247,0.7);
    padding: 8px;
    border-radius: 4px;
}

.ctrl-item {
  margin-right: 24px;
  display: flex;
  align-items: center;
}

.ctrl-item svg {
  margin-right: 8px;
}

.kunder
{
    display: flex;
}


.kunder-table
{
    display: flex;
}

.kunder-detail
{
    display: flex;
    margin-top: 35px;
    margin-left: 35px;
}

.kunder-detail tr {
  margin-bottom: 4px;
}

.ordrer
{
    display: flex;
    margin-top: 32px;
}

.indicator
{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 18px;
}

field
{

}

.label-kd
{
    font-weight: 600;
    display: block;
    font-size: 0.8em;
    margin-bottom: 4px;
    color: #374151;
}

.label-ctrl
{
    margin-right: 8px;
    font-weight: 600;
    display: inline-block;
}

table {
  width: 100%;
}

th
{
    text-align: left;
    padding-bottom: 8px;
    font-weight: 600;
    color: #374151;
}
