  .addresses {
    display: flex;
    margin-bottom: 24px;
    padding: 16px 12px;
    border-radius: 4px;
    background: #f2f6f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.23), 0px 8px 16px rgba(0, 0, 0, 0.08);
  }
  
  .addresses-overview {
    display: flex;
    padding-right: 24px;
  }
  
  .addresses-details {
    display: flex;
    padding-left: 24px;
  }

  .label {
      width: 75px;
      display: inline-block;
  }
  