.page
{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    overflow-x: scroll;
    border-collapse: collapse;
    background: #EDF2F6;
}

.topbar
{
    width: 100%;
    height: 1.5em;
    background: #1d252c;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    border-top: 4px solid #e0e536;
}

.toggle-button
{
    z-index: 1;
    width: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    background: transparent;
}

.close-button
{
    background: transparent;
    color: #fff;
    font-size: 24px;
    z-index: 1;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: auto;
    text-decoration: none;
}

.line
{
    width: 16px;
    height: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-bottom: 2px solid white;
}

.menu
{
    width: 100%;
    margin: auto;
    display: grid;
    place-items: center;
    height: 56px;
    font-size: 16px;
    font-weight: 700;
}

.formlist
{
    background: #fff;
    height: 100vh;
    padding-top: 8px;
    vertical-align: top;
}

.form
{
  }

  .formarea-container {
    padding: 12px;
    border-radius: 8px;
  background: #fff;
    margin: 24px auto;
    box-shadow: 0 15px 35px 0 rgb(60 66 87 / 8%), 0 5px 15px 0 rgb(0 0 0 / 12%);

  width: 100%;
}
